.campus {
  margin: 80px auto;
  width: 90%;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 40px;
  justify-content: center;
}

.gallery img {
  width: 100%;
  aspect-ratio: 4 / 3;
  border-radius: 10px;
  object-fit: cover;
  display: block;
}

/* Tablet (até 1024px): 2 por linha */
@media (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile (até 600px): 1 por linha, imagem maior */
@media (max-width: 600px) {
  .gallery {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  
  .gallery img {
    aspect-ratio: 3 / 2; /* ou 1 / 1 para quadrado, ou 9 / 16 para vertical */
  }
}